<% provide(:title, "About") %>
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="container mt-4">
            <div class="row justify-content-center">
                <div class="card shadow col-md-12">
                    <div class="card-body">
                        <div class="row justify-content-center">
                            <div class="col-md-8">
                                <h1>About</h1>
                                <p>
                                    What Is the Purpose of eLearning? E-learning (also called electronic learning) is any type of learning that
                                    takes
                                    place through or with a computer and is primarily facilitated through the Internet.
                                </p>
                                <p>
                                    Source: <a href="http://rubyonrails.org/">Ruby on Rails</a>.
                                    This is the sample application from the tutorial.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>