<% provide(:title, "About") %>
<p></p>
<h1>About</h1>
<p>
    What Is the Purpose of eLearning? E-learning (also called electronic learning) is any type of learning that
    takes
    place through or with a computer and is primarily facilitated through the Internet.
</p>
<p>
    Source: <a href="http://rubyonrails.org/">Ruby on Rails</a>.
    This is the sample application from the tutorial.
</p>