<% provide(:title, "Help") %>
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="container mt-4">
            <div class="row justify-content-center">
                <div class="card shadow col-md-12">
                    <div class="card-body">
                        <div class="row justify-content-center">
                            <div class="col-md-8">
                                <h1>Help</h1>
                                <p>
                                    Get help on the Ruby on Rails Tutorial at the
                                    <a href="https://www.railstutorial.org/help">Rails Tutorial help
                                        page</a>.
                                    To get help on this sample app, see the
                                    <a href="https://www.railstutorial.org/book"><em>Ruby on Rails
                                            Tutorial</em> book</a>.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>