<div class="center jumbotron">
<p></p>
    <h1>Welcome to PokeLearning</h1>

    <h2>This is the home page!</h2>
    <% if !logged_in? %>
        <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
    <% end %>

</div>
<div class="image">
<%= link_to image_tag("pikachu.png", alt: "Pikachu logo"),
            'https://hypixel.net/proxy/BcmjTMrMwQRx3z7n0t8KPWFpLzW0S%2BPqEVZmRWVBA%2F3cmGDpQb6f43JR76nr70rlldnTrMw%3D/image.png' %>
</div>