<% provide(:title, 'All users') %>
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="container mt-4">
            <div class="row justify-content-center">
                <div class="card shadow col-md-12">
                    <div class="card-body">
                        <div class="row justify-content-center">
                            <div class="col-md-8">
                                <h1>All users</h1>
                                <%= will_paginate %>
                                    <ul class="users">
                                        <% @users.each do |user| %>
                                            <%= render user %>
                                        <% end %>
                                    </ul>
                                    <br>
                                <%= will_paginate %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>