<% provide(:title, 'Sign up') %>
<% provide(:button_text, 'Create my account') %>
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="container mt-4">
            <div class="row justify-content-center">
                <div class="card shadow col-md-12">
                    <div class="card-body">
                        <div class="row justify-content-center">
                            <div class="col-md-12">
                                <h1>Sign up</h1>
                                    <%= render 'form' %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>